# Copyright (c) 2022, The Khronos Group Inc.
#
# SPDX-License-Identifier: CC-BY-4.0

# Files were formerly generated here, before the dir was renamed to "metadata"
current_*.adoc
deprecated_*.adoc
provisional_*.adoc
refpage.*.adoc
extinc

XR_*.adoc
